/*custom properties*/

:root {
    --fw-reg: 300;
    --fw-bold: 900;
    --clr-light: #f2f2f2;
    --clr-dark: black;
    --clr-accent: #008c44;
    --clr-accent-light: white;
    --clr-accent-dark: #666666;
    --fs-h1: 4rem;
    --fs-h2: 2.5rem;
    --fs-h3: 2.25rem;
    --fs-body: 1rem;
    }
    
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }

body {
    background-color: var(--clr-light);
}

::-webkit-scrollbar {
    width: 0.7em;
    height: 0.7em;    
}

::-webkit-scrollbar-track {
    background: hsl(0 0% 95% / 1);    
}

::-webkit-scrollbar-thumb {
    background: rgba(5, 97, 25, 0.97);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(97, 207, 19, 0.97);
}

/* Header */
header {
    background: linear-gradient(to right, #f2f2f2, #008C44);
    text-align: center;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.5);
}

.header-logo {
    padding: 16px 32px;
    margin-left: 2em;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display:block;
    background: var(--clr-accent);
    height: 3px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: linear-gradient(to right, #f2f2f2, #008C44);
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: var(--clr-dark);
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: var(--clr-accent);
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
        background: linear-gradient(to right, #f2f2f2, #008C44, #016431);
        box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.5);
    }

    .header-logo {
        grid-column: 1/3;
        padding: 16px 32px;
    }
    
    nav {
        all: unset;
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
        color: var(--clr-accent-light);
    }

    nav a:hover {
        color: greenyellow;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: greenyellow;
        position: absolute;
        top: -0.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}

/*Block1 - main*/
.block1-container {
    background: url('../Images/CN/CN-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: var(--clr-accent);
    background-blend-mode: multiply;
    opacity: 90%;
    width: 100%;
    height: 100%;
    float: left;
    margin-top: 85px;
    margin-bottom: 30px;
}

.block1-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 20em;
    border-radius: 100%;
    margin-top: 40px;
}

.block1-content-wrapper {
    color: var(--clr-accent-light);
    text-align: center;
}

.block1-heading {
    margin-top: 0.5em;
    font-size: var(--fs-h1);
}

.block1-body {
    margin: 1em 10em;
}

.block1-body2 {
    margin: 1em 10em;
    margin-bottom: 40px;
}

@media screen and (max-width: 800px) {
    .block1-body {
        margin: 1em 2em;
    }

    .block1-body2 {
        margin: 1em 2em;
        margin-bottom: 2em;
    }

    .block1-heading {
        font-size: 2.5em;
    }

    .block1-container img {
        width: 100%;
        max-width: 15em;
        
    }
}

/*Block2 - program */
.block2-container {
    width: 100%;
    height: 100%;
    padding: 2em 6em;
    background-color: var(--clr-light);
    margin-bottom: 2.5em;
}

.block2-container img {
    width: 100%;
    height: auto;
}

.block2-content {
    margin-top: 25px;
}

.block2-heading {
    font-size: var(--fs-h2);
    color: var(--clr-accent);
    margin-bottom: 15px;
}

.block2-body2 {
    margin-top: 30px;
    margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
    .block2-container {
        padding: 5em 2em;
        margin-bottom: 1em;
    }

    .block2-heading {
        font-size: 2.5em;
    }
}

/* Block3 - Articles */
.block3-container {
    background-color: #cecfd2bc;
    padding: 5.8em;
    padding-top: 4em;
    text-align: center;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.5);
}

.block3-title {
    color: var(--clr-accent);
    font-size: var(--fs-h2);
}

.block3-subtitle {
    font-size: var(--fs-body);
}

.block3-container-articles {
    padding-top: 3em;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr;
    grid-template-areas:
                "portal1 portal2 portal3";
    grid-gap: 3em;
    
}

.block3-box {
    text-align: center;
    transition: 1s;
}

.block3-box:hover {
    transform:scale(1.1);
    z-index:2;
}

.block3-article1 {
    grid-area: portal1
}

.block3-article2 {
    grid-area: portal2
}

.block3-article3 {
    grid-area: portal3
}

.block3-image {
    border-radius: 5%;
    box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 800px) {
    .block3-container {
        padding: 3em;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
    }
    .block3-container-articles {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.2fr 0.2fr;
        grid-template-areas:
                    "portal1"
                    "portal2"
                    "portal3";
        grid-gap: 1.5em;
        padding-bottom: 3em;
    }
}

/* Image Gallery */

.gallery-wrapper {
    background: linear-gradient(to top, #143524, #1d4531, #0c4f2d, #016431, #008C44, rgb(37, 37, 37));
    padding-bottom: 1em;
}

.gallery-heading {
    font-size: var(--fs-h2);
    color: var(--clr-accent-light);
    text-align: center;
    padding-top: 1em;
    margin-bottom: 0.5em;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 100px 300px;
    grid-gap: 10px;
    grid-auto-flow: dense;
}

.gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.gallery-item .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.gallery-item:hover .image img {
    transform: scale(1.5);
}

.gallery-item .text {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:var(--clr-accent-light);
    text-shadow: 2px 2px 8px black;
    font-size: 25px;
    pointer-events: none;
    z-index: 4;
    transition: .3s ease-in-out;
    --webkit-backdrop-filter: blur(5px) saturate(1.8);
    backdrop-filter: blur(5px) saturate(1.8); 
}

.gallery-item:hover .text {
    opacity: 1;
}

.w1 {
    grid-column: span 3;
}

.w2 {
    grid-column: span 1;
}

.w3 {
    grid-column: span 1;
}

.w4 {
    grid-column: span 1;
}

.w5 {
    grid-column: span 4;
}

.w6 {
    grid-column: span 1;
}

.w7 {
    grid-column: span 2;
}

.w8 {
    grid-column: span 3;
}

.w9 {
    grid-column: span 3;
}

.h1 {
    grid-row: span 2;
}

.h2 {
    grid-row: span 1;
}

.h3 {
    grid-row: span 2;
}

.h4 {
    grid-row: span 2;
}

.h5 {
    grid-row: span 2;
}

.h6 {
    grid-row: span 1;
}

.h7 {
    grid-row: span 2;
}

.h8 {
    grid-row: span 2;
}

.h9 {
    grid-row: span 2;
}

@media screen and (max-width: 500px) {
    .gallery-heading {
        font-size: 2.5em;
    }

    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .w1, .w2, .w3, .w4, .w5, .w6, .w7, .w8, .w9 {
        grid-column: span 1;
    }
}

/* Footer */

footer {
    width: 100%;
    position: relative;
    background: linear-gradient(to right, #143524, #1d4531, #0c4f2d, #016431, #008C44);
    color: var(--clr-light);
    padding: 3em 0 1em;
    font-size: 1em;
    line-height: 1.25em;
}

.footer-row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-col1 {
    flex-basis: 50%;
    padding: 0.5em;
}

.footer-col {
    flex-basis: 20%;
    padding: 0.5em;
}

.footer-logo {
    width: 100px;
    margin-bottom: 2em;
}

.footer-title {
    margin-bottom: 1em;
}

.footer-links {
    list-style: none;
    margin-bottom: 0.75em;
}

.footer-links-content {
    text-decoration: none;
    color: var(--clr-light);
}

form {
    padding-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-light);
    margin-bottom: 3.2em;
}

form .far{
    font-size: 18px;
    margin-right: 10px;
}

form input {
    width: 100%;
    background: transparent;
    color: var(--clr-light);
    border: 0;
    outline: none;
}

form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.fa-solid {
    color: var(--clr-accent-light);
}

.footer-social-icons .fa-brands {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 2em;
    line-height: 1.7em;
    color: var(--clr-accent-light);
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 2px solid var(--clr-light);
    margin: 1em auto;
}

.copyright {
    text-align: center;
}

@media (max-width: 768px) {
    .footer-col1 {
        flex-basis: 100%;
    }
    
    .footer-col {
        flex-basis: 100%;
    }
}